<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Ajuste</th>
      <th>Parcelas</th>
      <th>Minicio</th>
      <th>Mesfinal</th>
      <th>Saque</th>
      <th>Transferencia</th>
      <th>Cartão</th>
      <th>Internet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.valor %></td>
        <td><%= bill.titulo %></td>
        <td><%= bill.descrição %></td>
        <td><%= bill.ajuste %></td>
        <td><%= bill.parcelas %></td>
        <td><%= bill.mInicio %></td>
        <td><%= bill.mesFinal %></td>
        <td><%= bill.saque %></td>
        <td><%= bill.transferencia %></td>
        <td><%= bill.cartão %></td>
        <td><%= bill.internet %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
