<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-dashboard">Contas mensais</h1>


  <p id="notice" class="ls-alert-info"><%= notice %></p>

  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3">Saque</h2>
      <p class="ls-float-right ls-float-none-xs ls-small-info"> Valor Total: <strong><%= @total_bills_saque %></strong></p>
    </header>
    <div class="row">
      <table class="ls-table ls-table-striped">
        <thead>
          <tr>
            <th>Titulo</th>
            <th class="hidden-xs">Valor</th>
            <th>Ajuste</th>
            <th colspan="2">Parcelas</th>
          </tr>
        </thead>
        <tbody>
          <% @bills_saque.each do |bill| %>
            <tr>
              <td><%= bill.titulo %></td>
              <td class="hidden-xs"><%= format_value(bill.valor) %></td>
              <td><%= format_value(bill.ajuste) %></td>
              <td><%= bill.parcelas %></td>
              <td><%= link_to 'Edit', edit_bill_path(bill), class: "ls-btn ls-ico-cog" %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

  <div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Transferencia</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info"> Valor Total: <strong><%= @total_bills_trans %></strong></p>
  </header>
  <div class="row">
  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th class="hidden-xs">Valor</th>
        <th>Ajuste</th>
        <th colspan="2">Parcelas</th>
      </tr>
    </thead>
    <tbody>
        <% @bills_trans.each do |bill| %>
        <tr>
          <td><%= bill.titulo %></td>
          <td class="hidden-xs"><%= format_value(bill.valor) %></td>
          <td><%= format_value(bill.ajuste) %></td>
          <td><%= bill.parcelas %></td>
          <td><%= link_to 'Edit', edit_bill_path(bill), class: "ls-btn ls-ico-cog" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<div class="ls-box ls-board-box">
<header class="ls-info-header">
  <h2 class="ls-title-3">Balanço do mês</h2>
  <p class="ls-float-right ls-float-none-xs ls-small-info"> Mês <strong><%= @mounth %></strong></p>
</header>
<div id="sending-stats" class="row">
  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Renda Mensal</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_incomes) %></strong>
        <small>Aqui você verifica seus dados</small>
      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Total de Contas</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_absolute) %></strong>
        <small>Como diminuir as contas?</small>
      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Total de Contas</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_incomes - @total_absolute) %></strong>

      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-6 col-md-3">
    <div class="ls-box ls-box-centered">
      <strong>TEXTO</strong>
    </div>
  </div> -->

</div>
</div>

<br>

<%= link_to 'Adicionar Conta', new_bill_path(:mounth => @mounth), class: "ls-btn-primary ls-ico-plus" %>
</div>
