<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-dashboard">Contas mensais</h1>


  <p id="notice" class="ls-alert-info"><%= notice %></p>

  <table class="ls-table ls-table-striped">
    <thead>
      <tr>
        <th>Titulo</th>
        <th class="hidden-xs">Valor</th>
        <th>Ajuste</th>
        <th>Parcelas</th>
        <th>Saque</th>
        <th>Transf.</th>
        <th>Cartão</th>
        <th class="hidden-xs" colspan="2">Internet</th>
      </tr>
    </thead>
    <tbody>
        <% @bills.each do |bill| %>
        <tr>
          <td><%= bill.titulo %></td>
          <td class="hidden-xs"><%= format_value(bill.valor) %></td>
          <td><%= format_value(bill.ajuste) %></td>
          <td><%= bill.parcelas %></td>
          <td><%= bill.saque %></td>
          <td><%= bill.transferencia %></td>
          <td><%= bill.cartão %></td>
          <td><%= bill.internet %></td>
          <td><%= link_to 'Edit', edit_bill_path(bill), class: "ls-btn ls-ico-cog" %> </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- <hr>
  <h3>TOTAL DE CONTAS: <%= @total_bills %></h3>
  <h3>TOTAL DE RENDIMENTOS: <%= @total_incomes %></h3>
  <h1>SALDO FINAL: <%= @total_incomes - @total_bills %></h1> -->


<!-- <hr> -->


<div class="ls-box ls-board-box">
<header class="ls-info-header">
  <h2 class="ls-title-3">Balanço do mês</h2>
  <p class="ls-float-right ls-float-none-xs ls-small-info"> Mês <strong><%= @mounth %></strong></p>
</header>
<div id="sending-stats" class="row">
  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Renda Mensal</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_incomes) %></strong>
        <small>Aqui você verifica seus dados</small>
      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Total de Contas</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_bills) %></strong>
        <small>Como diminuir as contas?</small>
      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="ls-box">
      <div class="ls-box-head">
        <h6 class="ls-title-4">Total de Contas</h6>
      </div>
      <div class="ls-box-body">
        <strong><%= format_value(@total_incomes - @total_bills) %></strong>

      </div>
      <div class="ls-box-footer">
        &nbsp;
      </div>
    </div>
  </div>

  <!-- <div class="col-sm-6 col-md-3">
    <div class="ls-box ls-box-centered">
      <strong>TEXTO</strong>
    </div>
  </div> -->

</div>
</div>

<br>

<%= link_to 'Adicionar Conta', new_bill_path(:mounth => @mounth), class: "ls-btn-primary ls-ico-plus" %>
</div>
